@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');


.hide {
    display: none;
}

/* ubcjhbcjncklacklkl;cad;scl;'alc;'alc';ad */
.cover {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 100;
    /* background-color: #00abf5; */
    backdrop-filter: blur(10px);
}

.construction {
    color: #d1efff;
    font-size: 3rem;
    width: 50vw;
    /* height: 100%; */
    padding: 30px;
    background-color: #191f23;
    box-shadow: 0 0 20px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}

.construction button {
    height: 60px;
    /* width: 200px; */
    background-color: inherit;
    border: 1px solid #d1efff;
    color: #d1efff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-top: 90px;
    font-size: 2rem;
    justify-self: end;
}

.construction button:hover {
    background-color: #d1efff;
    color: #191f23;
}

/* kcnkmlakdfvmlkvmlkmvlkmvkmavknfvnfdalvlfd */
body {
    /* background-color: rgb(27, 28, 31); */
    background-color: #0e1217;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

.body:hover {
    cursor: pointer;
}

.color {
    color: #F0EDCF;
}

nav {
    width: 100vw;
    height: 5vh;
    color: #F0EDCF;
    position: sticky;
    top: 0;
    font-size: 1.5rem;
    padding: 20px 0;
    transition: top 0.4s;
    z-index: 10;
    backdrop-filter: blur(50px);

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;

    gap: 20px;
}

nav>li {
    list-style: none;

}

nav.hidden {
    top: -15vh;

}

li>a {
    color: #0B60B0;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

li>a:hover {

    background-color: #40A2D8;
    color: #1a1a1b;
}




.section {
    width: 100vw;
    height: 100vh;

}



.introduction {
    color: #0B60B0;
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.dev-section {
    writing-mode: vertical-rl;
    margin: 0;
    padding: 0;
}

.dev-section h2 {
    padding: inherit;
    margin: inherit;
    color: #252525;
    font-size: 18rem;
    font-weight: bold;
    font-family: "Micro 5", sans-serif;
    font-style: normal;
    line-height: 0.53;
}

.intro-content {
    flex: 1;
    position: relative;
}

.intro-content>* {
    margin: 0;
    padding: 0;
    /* line-heigh
    t: 1; */
}

section>* {
    padding: 0;
    margin: 0;
}

.hello {
    font-size: 2rem;
}

.name {
    color: #F0EDCF;
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.designation {
    font-size: 3rem;
    /* background-color: #0B60B0; */


    color: #40A2D8;
    position: absolute;
    z-index: 1;



}

.cursor {
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: #40A2D8;
    margin-left: 2px;
    vertical-align: middle;
    margin-top: 0;
    padding-top: 0;
}

.introduction .buttons {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.contact-me {
    background-color: #1a1a1b;
    color: #F0EDCF;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5px;
    outline: 0;
    border: 2px solid #40A2D8;
    padding: 20px;
}

.contact-me:hover {
    cursor: pointer;
    background-color: #F0EDCF;
    color: black;
}

/* Skills Section */

#skills {
    margin-top: 40px;
}

.heading-skills {
    color: #00abf5;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.skills-section {
    color: aliceblue;
    /* width: 100%; */
    height: 100vh;

    position: relative;
    z-index: 1;
}

.skills-section .background {
    background-color: #1f262a;
    position: absolute;
    height: 600px;
    margin-top: 60px;
    /* Adjust the positioning to cover the entire screen */
    left: -50px;
    /* Adjust the positioning to cover the entire screen */
    width: calc(100% + 100px);
    /* height: calc(100% + 100px); */
    /* Background color with 50% opacity */
    transform: rotate(-4deg);
    /* Rotate the background slightly */
    transform-origin: top left;
    z-index: -1;

}

.skill {
    margin-top: 50px;
    position: absolute;
    top: 20px;
    /* height: 80%; */
    /* width: 60vw; */
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 20px;
}

.skill-element {
    display: inline-block;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 1px rgb(0, 0, 0, 0.7);
    border: 3px dashed #335a6f;
    border-radius: 5px;


}

.skill-logo {
    width: 75px;
    height: 75px;
    /* fill: #ffffff; */

}







::-webkit-scrollbar {
    background-color: aliceblue;
    width: 2px;

}

::-webkit-scrollbar-track {
    width: 2px;
    background-color: rgb(27, 28, 31);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(165, 254, 224);
}







/* About Me Section */
#about {
    padding-top: 30px;
    color: #d1efff;
    font-size: 2rem;
}

.about-section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

}

.about-section h2 {
    margin: 0;
    padding: 0;
    color: #00abf5;
    font-family: 'Courier New', Courier, monospace;
}






.about-section p {
    font-size: 1.6rem;
}

p .highlight {
    color: #2fa4e3;
    font-weight: bold;
    font-size: 1.9rem;
}




/* Contact Section */

#contact-section {

    /* margin-bottom: 50px; */
    height: 100%;
    margin-bottom: 100px;
}

.contact {
    /* margin-top: 60px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;


}

.contact h1 {
    font-size: 3.5rem;
}

.contact button {
    background-color: #1a1a1b;
    color: #F0EDCF;
    display: inline-block;
    font-size: 2rem;
    border-radius: 5px;
    outline: 0;
    border: 2px solid #40A2D8;
    padding: 20px;
    margin: 40px;
}

.contact p {
    font-size: 1.8rem;
    text-align: center;
    color: #d1efff;
}

.contact button:hover {
    cursor: pointer;
    background-color: #F0EDCF;
    color: black;
}

.contact a {
    color: #00abf5;
}





footer {

    width: 100%;
    height: 30px;
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    color: #00abf5;
    text-align: center;
    font-size: 1.2rem;

}